hg-git/*
os/mint64_baj5/home/mingis/kp/bin/FileZilla3/*
os/mint64_baj5/home/mingis/kp/bin/eclipse/*
os/mint64_baj5/home/mingis/kp/bin/hg-git/*
os/mint64_baj5/home/mingis/kp/bin/jd-gui/*
os/mint64_baj5/home/mingis/kp/bin/utorrent/*

*~
*.o
*.obj
*.a
*.lib
*.dll
*.layout
*.sav
*.bak
*.sym
*.suo
*.sln
*.ncb
*.mk1
*.mk
*.map
*.log
*.lk1
*.ilk
*.err
*.dep
*.pdb
*.idb
*.xml
*.cbTemp
*.depend

*
*.*
